<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>みんなのまんなか - スタート</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div id="header-title">
    <span>
      <a href="/">みんなのまんなか</a>
    </span>
  </div>

  <main class="start-page">
    <p class="intro-text">みんなの予想を当てて<br>まんなかを狙おう！</p>
    <button class="start-button" onclick="location.href='{{ url_for('game') }}'">ゲームスタート</button>
  </main>

  <div class="request-section">
    <p>🎯 現在、お題を募集しています！<br>あなたのアイデアがお題になるかも…</p>
    <a href="{{ url_for('request_question') }}">
      <button class="btn-requesttons">お題を投稿する</button>
    </a>
  </div>

  <div class="sns-share">
    <p>みんなにシェアしよう！</p>
    <a href="https://twitter.com/intent/tweet?text=みんなのどまんなかで遊ぼう！&url={{ request.url_root }}" target="_blank"
      rel="noopener" class="btn-twitter" aria-label="Twitterでシェア">
      Twitterでシェア
    </a>
    <a href="https://social-plugins.line.me/lineit/share?url={{ request.url_root }}" target="_blank" rel="noopener"
      class="btn-line" aria-label="LINEでシェア">
      LINEでシェア
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url_root }}" target="_blank" rel="noopener"
      class="btn-facebook" aria-label="Facebookでシェア">
      Facebookでシェア
    </a>
  </div>



  <footer class="footer">
    <p>© 2025 みんなのまんなか All Rights Reserved.</p>
  </footer>


</body>

</html>