<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>みんなのまんなか - スタート</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="みんなのまんなか - みんなの予想でスコアを競おう！" />
  <meta name="twitter:description" content="みんなの予想を集めて、まんなかを狙う新感覚ゲーム！あなたのセンスを試してみませんか？" />
  <meta name="twitter:image" content="{{ url_for('static', filename='image/twitter-thum.jpeg', _external=True) }}">

  <meta property="og:title" content="みんなのまんなか - みんなの予想でスコアを競おう！" />
  <meta property="og:description" content="みんなの予想を集めて、まんなかを狙う新感覚ゲーム！あなたのセンスを試してみませんか？" />
  <meta property="og:image" content="{{ url_for('static', filename='image/twitter-thum.jpeg') }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.url }}" />

</head>

<body>
  <div id="header-title">
    <span>
      <a href="/">みんなのまんなか</a>
    </span>
  </div>

  <main class="start-page">
    <p class="intro-text">みんなの予想を当てて<br>まんなかを狙おう！</p>
    <button class="start-button" onclick="location.href='{{ url_for('game') }}'">ゲームスタート</button>
  </main>

  <p class="request-text">
    🎯 現在、お題を募集しています！<br>あなたのアイデアがお題になるかも…
  </p>

  <a href="{{ url_for('request_question') }}">
    <button class="btn-top-requesttons">お題を投稿する</button>
  </a>

  <div class="sns-share">
    <p>みんなにシェアしよう！</p>
    <a href="https://twitter.com/intent/tweet?text=【スマホに保存されている写真は平均何枚?】%0Aみんなの予想のまんなかを狙うゲーム！%0A君の感覚はまんなか？チャレンジしてみよう!%0A&url={{ request.url_root }}"
      target="_blank" rel="noopener" class="btn-twitter" aria-label="Twitterでシェア">
      Twitter
    </a>
    <a href="https://social-plugins.line.me/lineit/share?url={{ request.url_root }}" target="_blank" rel="noopener"
      class="btn-line" aria-label="LINEでシェア">
      LINE
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url_root }}" target="_blank" rel="noopener"
      class="btn-facebook" aria-label="Facebookでシェア">
      Facebook
    </a>
  </div>

  <footer class="footer">
    <p>© 2025 みんなのまんなか All Rights Reserved.</p>
  </footer>


</body>

</html>